#login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 1px solid #efefef;
}

#login .login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .login__container .login__image {
  display: block;
  width: 320px;
  height: 325px;
}

#login .login__container .login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  border: 1px solid #5dc952;
  border-radius: 20px;
  color: #5dc952;
}
